header {
    display: flex
}
.score{
    color: blue;
    justify-content: space-between;
}

main {
    border: solid;
    width: 900px;
    text-align: center;
    height: 400px;
    line-height: 50px;
    border-radius: 50px;
    margin: auto;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display:none;
}

.hide {
    display: none;
}

/* .container {
    visibility: hidden; */
/* } */

/* .appear {
    visibility: visible; */
/* } */